@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Gloria+Hallelujah&family=PT+Sans+Caption:wght@400;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #000022;
    font-family: 'Pt Sans Caption', sans-serif;
    background-image: linear-gradient(to bottom, #007193, #0182a7, #0294ba, #02a6ce, 
    #01b9e2, #00c5eb, #00d1f3, #00ddfa, #00e5f6, #0eedf0, #32f4e8, #4ffbdf);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gloria Hallelujah', sans-serif;
    text-align: center;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    color: white;
    margin: 20px 15px 20px 0;
}

#brain-logo {
    height: 55px;
}

/* Game Area */
#game-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 85%;
    height: 75vh;
    max-height: 500px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #FCFBFF;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    padding: 15px 10px;
}

.how-to {
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.how-to > ul {
    list-style-type: none;
}

.how-to li {
    margin-bottom: 10px;
}

.question-box {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 85%;
}

.question-box > h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 0;
}

#game-image {
    height: 192px;
    width: 288px;
}

img {
    object-fit: cover;
    height: inherit;
    width: inherit;
}

.question-box > p {
    margin: 0;
}

#answer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.score-area {
    height: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.game-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    padding: 15px 10px;
}

.btn {
    font-family: 'Fuzzy Bubbles';
    text-transform: uppercase;
    min-width: 100px;
    min-height: 30px;
    background-color: #00D2FC;
    padding: 10px;
    font-size: 1rem;
}

.correct {
    background-color: #0AE240;
}

.incorrect {
    background-color: #FF3030;
}

#img-blur {
    filter: blur(20px);
    /* Makes smooth transition between blur */
    transition: all 0.5s ease-in-out;
}

/* Media query: narrow screens (305px and under) */
@media screen and (max-width: 305px) {
    /* Header */
    #brain-logo {
        height: 45px;
    }

    h1 {
        font-size: 1.7rem;
    }
    
    /* Game area */ 
    #game-box {
    width: 93%;
    }

    #game-image {
    height: 164px;
    width: 246px;
    }

    .btn {
        padding: 10px 5px;
        font-size: 0.9rem;
    }

    .how-to > ul {
        font-size: 0.88rem;
    }

}

/* Media query: mobile screens (415px and under) */
@media screen and (max-width: 415px) {
    h1 {
        font-size: 3rem;
    }

    #brain-logo {
        height: 70px;
    }

}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    #brain-logo {
        height: 60px;
    }

}

/* Media query: Laptops and larger (992px and up) */
@media screen and (min-width: 992px) {

}

/* Hide Class */
.hide {
    display: none;
}

/* Disables the buttons */
.disable {
    pointer-events: none;
}