@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Gloria+Hallelujah&family=PT+Sans+Caption:wght@400;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #000022;
    font-family: 'Pt Sans Caption', sans-serif;
    background-image: linear-gradient(to bottom, #007193, #0182a7, #0294ba, #02a6ce, 
    #01b9e2, #00c5eb, #00d1f3, #00ddfa, #00e5f6, #0eedf0, #32f4e8, #4ffbdf);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gloria Hallelujah', sans-serif;
    text-align: center;
}

.btn {
    font-family: 'Fuzzy Bubbles', sans-serif;
    text-transform: uppercase;
    min-width: 100px;
    min-height: 30px;
    color: #000022;
    background-color: #00D2FC;
    padding: 10px;
    font-size: 1.25rem;
    border-radius: 15px;
    box-shadow: 0 0 3px 1.5px #007193;
    cursor: pointer;

}/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
    color: white;
    margin: 10px 15px 20px 0;
}

#brain-logo {
    height: 55px;
}

/* Game Area */
#game-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 85%;
    height: 77vh;
    max-height: 900px;
    max-width: 900px;
    min-height: 540px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: #FCFBFF;
    border-radius: 25px;
    box-shadow: 0 0 30px 8px #007193;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 15px 10px;
}

.welcome > h2 {
    font-size: 1.9rem;
}

.welcome > h3 {
    font-size: 1.5rem;
}

#ctrl-box {
    height: 55%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.ctrl-btn {
    width: 80%;
    font-size: 1.3rem;
}

.how-to {
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.how-to > h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.how-to > ul {
    list-style-type: none;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.how-to li {
    margin-bottom: 10px;
}

.question-box {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

#game-type {
    text-transform: uppercase;
    font-size: 1.7rem;
    margin: 0;
}

.question-box > h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 0;
}

#image-border {
    height: 221px;
    width: 324px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#game-image {
    height: 206px;
    width: 309px;
    overflow: hidden;
    border-radius: 15px;
}

img {
    object-fit: cover;
    height: inherit;
    width: inherit;
    border-radius: 15px;
}

.question-box > p {
    margin-bottom: 5px;
    font-size: 1.1rem;
}

#answer-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 7px;
}

.score-area {
    height: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.score-area > p {
    font-size: 1.2rem;
}

.game-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    padding: 15px 10px;
}

.game-end > h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.game-end > h3 {
    font-size: 2.3rem;
    margin-bottom: 50px;
}

#home-btn {
    font-size: 2rem;
    width: 60%;
}

.answer-btn {
    max-width: 100%;
    min-height: 40px;
    padding: 7px;
}

.correct {
    background-color: #0AE240;
}

.incorrect {
    background-color: #FF3030;
}

#img-blur {
    filter: blur(20px);
    /* Makes smooth transition between blur */
    transition: all 0.5s ease-in-out;
}

/* Styles to make button grow for correct answer */
@-webkit-keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
}
  @keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
}
  .hvr-pulse-grow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
  }
  .hvr-pulse-grow.selected {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

/* Styles to make button buzz for incorrect answer */
@-webkit-keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
}

@keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
}

.hvr-buzz {
    -webkit-transform: perspective(1px) translateZ(0);;
    transform: perspective(1px) translateZ(0);
}

  .hvr-buzz.clicked {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* 404 Page */
#not-found-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 85%;
    height: 77vh;
    max-height: 900px;
    max-width: 900px;
    margin: 0 auto;
    padding: 15px;
    background-color: #FCFBFF;
    border-radius: 25px;
    box-shadow: 0 0 30px 8px #007193;
}

#not-found-box > a {
    text-align: center;
}

/* Media query: mobile screens (415px and under) */
@media screen and (max-width: 415px) {
    h1 {
        font-size: 2.3rem;
    }

    /* How to */
    .how-to > h3 {
        font-size: 1.4rem;
        margin-bottom: 5px;
    }

    .how-to > ul {
        font-size: 0.95rem;
        margin-bottom: 5px;
    }

}

/* Media query: mobile screens (389px and under) */
@media screen and (max-width: 389px) {
    h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    #game-box {
        height: 80vh;
    }

    #game-type {
        font-size: 1rem;
        margin-top: 5px;
    }

    #image-border {
        height: 207px;
        width: 303px;
    }

    #game-image {
        height: 192px;
        width: 288px;
    }

   .btn {
    font-size: 1.15rem;
    padding: 7px;
   }

   .ctrl-btn {
    font-size: 1.2rem;
    }

   .score-area {
    margin-bottom: 10px;
   }
}

/* Media query: mobile screens (350px and under) */
@media screen and (max-width: 350px) {
    h1 {
        font-size: 2.05rem;
    }

    #image-border {
        height: 174px;
        width: 256px;
    }

    #game-image {
        height: 164px;
        width: 246px;
    }

    .btn {
        font-size: 0.94rem;
    }

    .ctrl-btn {
        font-size: 1.1rem;
        }

}

/* Media query: narrow screens (305px and under) */
@media screen and (max-width: 305px) {
    /* Header */
    #brain-logo {
        height: 45px;
    }

    h1 {
        font-size: 1.7rem;
    }
    
    /* Game area */ 
    #game-box {
    width: 93%;
    }

    /* Welcome */
    .welcome > h2 {
        font-size: 1.5rem;
    }

    .welcome > h3 {
        font-size: 1.2rem;
    }

    /* How to */
    .how-to > h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .how-to > ul {
        font-size: 0.88rem;
        margin-bottom: 10px;
    }

    .question-box > p {
        font-size: 1rem;
    }

    .btn {
        padding: 10px 5px;
        font-size: 0.9rem;
    }

    .ctrl-btn {
        font-size: 1.05rem;
    }

    .score-area > p {
        font-size: 1.1rem;
    }

    .game-end > h2 {
        font-size: 2.5rem;
    }

    .game-end > h3 {
        font-size: 2rem;
    }

}

/* Media query: small tablets and larger (535px and up) */
@media screen and (min-width: 535px) {
    h1 {
        margin-bottom: 10px;
    }

    #game-box {
        height: 80vh;
        max-width: 550px;
        max-height: 650px;
    }

    #image-border {
        height: 225px;
        width: 345px;
    }

    #game-image {
        height: 210px;
        width: 330px;
    }

    .question-box > p {
        font-size: 1.3rem;
    }

    #answer-box {
        align-items: center;
    }

    .answer-btn {
        width: 75%;
        font-size: 1.1rem;
        padding: 5px;
    }

    .score-area {
        width: 80%;
        margin-bottom: 10px;
    }

    .score-area > p {
        font-size: 1.4rem;
    }

    #next-btn {
        padding: 5px;
    }
}

/* Media query: tablets and larger (700px and up) */
@media screen and (min-width: 700px) {
    #game-box {
        height: 80vh;
        max-width: 655px;
        max-height: 820px;
        min-height: 775px;
    }

    /* Welcome */
    .welcome > h2 {
        font-size: 2.6rem;
    }

    .welcome > h3 {
        font-size: 2.2rem;
        width: 80%;
    }

    .ctrl-btn {
        font-size: 2rem;
    }

    /* How to */
    .how-to > h3 {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    .how-to > ul {
        font-size: 1.4rem;
        margin-bottom: 40px;
    }

    #game-type {
        font-size: 2rem;
    }

    #image-border {
        height: 385px;
        width: 570px;
    }

    #game-image {
        height: 370px;
        width: 555px;
    }

    .question-box > p {
        font-size: 1.7rem;
    }

    #answer-box {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .answer-btn {
        width: 45%;
        height: 75px;
        font-size: 1.6rem;
    }

    .score-area > p {
        font-size: 2.1rem;
    }

    #next-btn {
        padding: 10px;
        width: 150px;
        font-size: 1.7rem;
    }
}

/* Media query: tablets and larger (800px and up) */
@media screen and (min-width: 800px) {
    /* Header */
    h1 {
        font-size: 3.5rem;
        margin-right: 20px;
    }

    #brain-logo {
        height: 75px;
    }

    #game-box {
        height: 82vh;
        min-width: 700px;
        min-height: 970px;
        max-height: 1000px;
        max-width: 800px;
    }

    #game-type {
        font-size: 2.2rem;
    }

    #image-border {
        height: 411px;
        width: 607px;
    }

    #game-image {
        height: 388px;
        width: 582px;
    }

    .question-box > p {
        font-size: 2.1rem;
    }

    #answer-box {
        gap: 17px;
    }

    .answer-btn {
        height: 110px;
        max-width: 285px;
        padding: 10px;
        font-size: 1.9rem;
    }

    .score-area {
        margin-bottom: 22px;
    }

    .score-area > p {
        font-size: 2.5rem;
    }

    #next-btn {
        min-width: 180px;
        font-size: 2.2rem;
        padding: 12px;
    }

}

/* Media query: Laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    h1 {
        font-size: 2.9rem;
        margin-right: 20px;
        margin-bottom: 5px;
    }

    #brain-logo {
        height: 70px;
    }

    /* Welcome */
    .welcome > h2 {
        font-size: 2.5rem;
        margin-top: 5px;
    }

    .welcome > h3 {
        font-size: 1.8rem;
    }

    .ctrl-btn {
        width: 60%;
        font-size: 1.5rem;
    }

    /* How to */
    .how-to > h3 {
        margin-bottom: 10px;
    }

    .how-to > ul {
        font-size: 1.2rem;
        width: 90%;
        margin-bottom: 20px;
    }

    #game-box {
        width: 85%;
        max-width: 900px;
        min-height: 500px;
    }

    #game-type {
        font-size: 1.5rem;
    }

    #image-border {
        height: 235px;
        width: 360px;
    }

    #game-image {
        height: 220px;
        width: 345px;
    }

    .question-box > p {
        font-size: 1.3rem;
    }

    #answer-box {
        gap: 8px;
    }

    .answer-btn {
        height: 40px;
        padding: 7px;
        font-size: 1.1rem;
        max-width: 300px;
    }

    .score-area > p {
        font-size: 1.4rem;
    }

    #next-btn {
        min-width: 140px;
        font-size: 1.2rem;
        padding: 7px;
    }

    .score-area {
        margin-bottom: 1.5%;
    }

    .ctrl-btn:hover, #home-btn:hover, #next-btn:hover, #return-home:hover {
        background-color: #4ffbdf;
        box-shadow: 0 0 3px 1.5px #00D2FC;
    }

    .answer-btn:hover {
        color: #FCFBFF;
    }
}

/* Media query: Desktops and larger (1200px and up) */
@media screen and (min-width: 1200px) {
    #game-box {
        max-width: 1000px;
        min-height: 600px;
        margin-bottom: 50px;
    }

    #image-border {
        height: 335px;
        width: 495px;
    }

    #game-image {
        height: 320px;
        width: 480px;
    }
}

/* Hide Class */
.hide {
    display: none;
}

/* Disables the buttons */
.disable {
    pointer-events: none;
}

.replay-btn {
    margin-bottom: 30px;
    font-size: 2rem;
    width: 60%;
}